:root {
  --lightblue: #7b8eba;
  --darkerblue: #ba7bad;
}

body {
  background-color: var(--lightblue);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden; /* hide horizontal scrollbar */
}

header {
  padding: 20px 0;
  padding-right: 20px;
}

span h1 {
  background-color: var(--darkerblue);
  padding: 10px;
}

header div {
  font-size: 32px;
  display: inline-block;
  text-align: center;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin-left: 30px;
}

header ul li a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  border: 4px solid pink;
}

.banner {
  margin-bottom: 2%;
}

.banner img {
  /* Photo by "https://unsplash.com/es/@felix_mittermeier?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" Felix Mittermeier on https://unsplash.com/images/nature/galaxy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText*/
  background-position: center;
  height: auto;
  width: 100%;
  image-rendering: optimizeQuality;
  background-size: cover;
  border: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.column {
  flex: 1 0;
  padding: 10px;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
}

article.main-column {
  display: flex;
  flex: 1 0 100%;
}

article.sub-column {
  display: flex;
  flex-basis: 100%;
  /* flex-basis: 48%; */
}

aside {
  display: none;
}

footer {
  display: block;
  text-align: center;
}

footer.column {
  flex-basis: 70%;
}

footer a {
  font-size: 20px;
}

footer ul {
  list-style-type: none;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  aside {
    display: flex;
  }

  aside h2 {
    text-align: right; /* not aligning to the right*/
    font-size: 32px;
  }
 
  aside.column {
    flex-basis: 14%;
    border-right: 1px solid red;
  }

  aside.column h2 {
    padding-right: 20px;
  }

  p.column {
    flex-basis: 70%;
  }

  article.main-column {
    display: flex;
    flex: 1 0 70%;
  }

  article.sub-column {
    display: flex;
    flex-basis: 31%;
  }

  .main-column:hover {
    box-shadow: inset 0px 0px 8px #ba7bad, 0 0 15px #ba7bad;
  }

  .sub-column:hover {
    box-shadow: inset 0px 0px 8px #ba7bad, 0 0 15px #ba7bad;
  }

  footer ul li {
    display: inline-block;
    padding-right: 5%;
  }

  footer ul li a {
    text-decoration: none;
    border-bottom: 1px solid red;
    font-size: 24px;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header div {
    display: block;
    padding-top: 20px;
    margin-right: 10px;
    float: right;
    font-size: 36px;
  }
}
