/* Root Elements, allows for global use of these variables */
:root {
  --lightblue: #7b8eba;
  --darkerpink: #ba7bad;
  --darkpurple: #b47bba;
  --lighterblue: #bdc7dd;
}

body {
  background-color: var(--lightblue);
  font-family: "Roboto", sans-serif;
}

/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: black;
}

p {
  font-size: 24px;
}

span h1 {
  background-color: var(--darkerpink);
  padding: 10px;
}

header {
  padding: 20px 0;
  padding-right: 20px;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header div {
  font-size: 32px;
  display: inline-block;
  text-align: center;
}

header ul {
  list-style-type: none;
  border-bottom: var(--darkerpink);
}

header ul li {
  display: inline-block;
  margin-left: 30px;
  border-bottom: 3px solid var(--darkerpink);
}

header ul li a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  border: 4px solid var(--darkerpink);
}

.banner img {
  /* Photo by "https://unsplash.com/es/@felix_mittermeier?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" Felix Mittermeier on https://unsplash.com/images/nature/galaxy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText*/
  background-position: center;
  height: auto;
  width: 100%;
  image-rendering: optimizeQuality;
  background-size: cover;
  border: 0;
}

figure.selfie {
  text-align: center;
}

figure.selfie img {
  margin: 2%;
  width: 200px;
  height: 300px;
}

main {
  background-color: var(--lighterblue);
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.column {
  flex: 1 0;
  padding: 10px;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
}

aside {
  display: none;
}
/* Displays work portfolio to take the whole width of a mobile or similar width*/
article.main-column {
  display: flex;
  flex: 1 0 100%;
}

/* Displays work portfolio to take the whole width of a mobile or similar width*/
article.sub-column {
  display: flex;
  flex-basis: 100%;
}

article.main-column img {
  height: 90vh;
  width: 100%;
}
/* Displays the footer in a block, for easier accessability*/
footer {
  display: block;
  text-align: center;
}

footer.column {
  flex-basis: 70%;
}

footer a {
  font-size: 20px;
}

footer ul {
  list-style-type: none;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  aside {
    display: flex;
  }

  aside h2 {
    margin-bottom: 20px;
    font-size: 32px;
  }

  aside.column {
    flex-basis: 14%;
    margin-bottom: 1%;
    border-right: 3px solid var(--darkerpink);
  }

  aside.column h2 {
    padding-right: 20px;
  }

  p.column {
    flex-basis: 70%;
  }

  article.main-column {
    display: flex;
    flex: 1 0 70%;
  }

  article.sub-column {
    display: flex;
    flex-basis: 31%;
  }

  /*Adds a glowing effect when hovering over the examples of work in the portfolio*/
  .main-column:hover {
    box-shadow: inset 4px 4px 8px var(--darkerpink), 0 0 15px var(--darkerpink);
  }

  .sub-column:hover {
    box-shadow: inset 4px 4px 8px var(--darkerpink), 0 0 15px var(--darkerpink);
  }

  /*Displays the footer in a line, for easier accessability on a laptop or bigger screen */
  footer ul li {
    display: inline-block;
    padding-right: 5%;
  }

  footer ul li a {
    text-decoration: none;
    border-bottom: 3px solid var(--darkerpink);
    font-size: 24px;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header div {
    display: block;
    padding-top: 20px;
    margin-right: 10px;
    float: right;
    font-size: 36px;
  }
}
